<!-- We can also use head as partials Too! -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- We Output Dynamic Code this way -->
  <title>Blog Flash | <%= title %>
  </title>
</head>