<!-- Partials is basically sections of code which can be reused(eg:- Navbar, which is same for different views). -->
<nav>
  <div class="site-title">
    <p>

    </p>
    <a href="/">
      <h1>Blog Flash</h1>
    </a>
    <p>Your Thoughts</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Thought</a></li>
  </ul>
</nav>