body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to right, #003973, #e5e5be);
  color: #ffffff;
}

p, h1, h2, h3, a, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style: none;
  margin-left: 20px;
}

nav h1 {
  font-size: 3em;
}

nav p, nav a {
  font-weight: 300;
  color: inherit;
  transition: color 0.3s;
}

nav a:hover {
  color: #e5e5be;
}

footer {
  color: inherit;
  text-align: center;
  margin: 80px auto 20px;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.content {
  margin-left: 20px;
  color: inherit;
}

/* index styles */
.blogs a {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid #e5e5be;
}

.blogs a:hover h3 {
  color: #e5e5be;
}

/* details styles */
.details {
  position: relative;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 6px;
  background-color: #e5e5be;
  padding: 8px;
}

.delete:hover {
  cursor: pointer;
}

/* create styles */
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}

.create-blog input, .create-blog textarea {
  background-color: #527191;
  border: 1px solid #527191;
  border-radius: 12px;
  color: inherit;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
}

.create-blog label {
  display: block;
  margin-top: 24px;
  color: inherit;
}

textarea {
  height: 120px;
}

.create-blog button {
  margin-top: 20px;
  background: #e5e5be;
  color: #ffffff;
  padding: 8px;
  border: 2px solid #e5e5be;
  border-radius: 6px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
  .create-blog form {
    max-width: 80%;
    margin: 0 10px;
  }

  .create-blog input, .create-blog textarea {
    padding: 10px;
  }

  .create-blog button {
    padding: 6px;
    font-size: 1em;
  }
}
